@page "/Aktiviteter"

<PageTitle>Aktiviteter</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 class="page-title">Aktiviteter</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-12">
        <div class="row">

            <div class="col-md-3 col-6 py-3">
                <div class="card"
                    <img class="card-img-top" src="/Images/Forside/100Gangestykker.png" />
                    <div class="card-body">
                        <h3 class="card-title">100 Gangestykker</h3>
                        <p class="card-text">En sjov aktivitet for hele klassen til tabeltræning</p>
                        <a href="/Aktiviteter/100Gangestykker" class="stretched-link"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6 py-3">
                <div class="card"
                    <img class="card-img-top" src="/Images/Forside/Dagbog.png" />
                    <div class="card-body">
                        <h3 class="card-title">Sortskægs Dagbog</h3>
                        <p class="card-text">Et escape room i papirform til udskolingen</p>
                        <a href="/Aktiviteter/SortskaegsDagbog" class="stretched-link"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6 py-3">
                <div class="card"
                    <img class="card-img-top" src="/Images/Forside/Skattejagt.png" />
                    <div class="card-body">
                        <h3 class="card-title">Posteløbsgenerator</h3>
                        <p class="card-text">Lav hurtigt et posteløb med fokus på de fire regnearter, brøker og ligninger</p>
                        <a href="/Aktiviteter/Posteloeb" class="stretched-link"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@code {

}
