@page "/Aktiviteter"

<PageTitle>Aktiviteter</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Aktiviteter</h2>
</section>

<section class="padding-block-500">
    <div class="card-container">
        <div class="grid-card-colums">
            <a class="card" href="/Aktiviteter/100Gangestykker">
                <div class="card-header" />
                <img class="card-image" src="/Images/Forside/100Gangestykker.png" />
                <div class="card-body">
                    <h3 class="card-title">100 Gangestykker</h3>
                    <p class="card-text">En sjov aktivitet for hele klassen til tabeltræning</p>
                </div>
            </a>

            <a class="card" href="/Aktiviteter/SortskaegsDagbog">
                <div class="card-header" />
                <img class="card-image" src="/Images/Forside/Dagbog.png" />
                <div class="card-body">
                    <h3 class="card-title">Sortskægs Dagbog</h3>
                    <p class="card-text">Et escape room i papirform til udskolingen</p>
                </div>
            </a>

            <a class="card" href="/Aktiviteter/Posteloeb">
                <div class="card-header" />
                <img class="card-image" src="/Images/Forside/Skattejagt.png" />
                <div class="card-body">
                    <h3 class="card-title">Posteløbsgenerator</h3>
                    <p class="card-text">Lav hurtigt et posteløb med fokus på de fire regnearter, brøker og ligninger</p>
                </div>
            </a>

            <a class="card" href="/Aktiviteter/Opgavegenerator">
                <div class="card-header" />
                <img class="card-image" src="/Images/Forside/Opgave.png" />
                <div class="card-body">
                    <h3 class="card-title">Opgavegenerator</h3>
                    <p class="card-text">Lav nemt et skræddersyet sæt opgaver</p>
                </div>
            </a>
        </div>
    </div>
</section>

@code {

}
