@page "/Error"
@using System.Diagnostics

<PageTitle>Fejl</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Fejl på siden</h2>
</section>

<div class="article">
    <h2 class="article-title">Fejl på siden</h2>
    <div class="article-text">
        <p>
            Af en eller anden årsag kunne vi ikke finde siden til dig.
        </p>
        <br />
        @if (ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@RequestId</code>
            </p>
        }
    </div>
</div>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
