@page "/"

<PageTitle>Skolenørden</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Forside</h2>
</section>

<section class="padding-block-500">
    <div class="card-container">
        <div class="grid-card-colums">
            <a class="card" href="/nyheder">
                <div class="card-header"/>
                <img class="card-image" src="/Images/Forside/Newspaper.png" />
                <div class="card-body">
                    <h3 class="card-title">Nyheder</h3>
                    <p class="card-text">De seneste opdateringer på Skolenørden.dk!</p>
                </div>
            </a>

            <a class="card" href="/Aktiviteter/gameoflife">
                <div class="card-header" />
                <img class="card-image" src="/Images/Forside/GameOfLife.png" />
                <div class="card-body">
                    <h3 class="card-title">Game Of Life</h3>
                    <p class="card-text">Et sjovt rollespil om privatøkonomi. Kan køres parallelt med andre forløb!</p>
                </div>
            </a>

            <a class="card" href="/aktiviteter/posteloeb">
                <div class="card-header"/>
                <img class="card-image" src="/Images/Forside/Skattejagt.png" />
                <div class="card-body">
                    <h3 class="card-title">Posteløb</h3>
                    <p class="card-text">Lav nemt og hurtigt et posteløb! 0. til 9. klasse!</p>
                </div>
            </a>

            <a class="card" href="/aktiviteter/opgavegenerator">
                <div class="card-header" />
                <img class="card-image" src="/Images/Forside/Opgave.png" />
                <div class="card-body">
                    <h3 class="card-title">Opgavegenerator</h3>
                    <p class="card-text">Lav nemt et skræddersyet sæt opgaver</p>
                </div>
            </a>

            <a class="card" href="/aktiviteter/sortskaegsdagbog">
                <div class="card-header" />
                <img class="card-image" src="/Images/Forside/Dagbog.png" />
                <div class="card-body">
                    <h3 class="card-title">Sortskægs Dagbog</h3>
                    <p class="card-text">Prøv et escape room i papirform! Anbefalet fra 6. klasse og opefter</p>
                </div>
            </a>

            <a class="card" href="/skolenoerdenanbefaler">
                <div class="card-header" />
                <img class="card-image" src="/Images/Forside/ThumbsUp.png" />
                <div class="card-body">
                    <h3 class="card-title">Skolenørden Anbefaler</h3>
                    <p class="card-text">Find links til eksterne sider med et par kommentarer fra Skolenørden</p>
                </div>
            </a>
        </div>
    </div>
</section>


