@page "/Kontakt"

<PageTitle>Kontakt</PageTitle>

<br><br><br>

<div class="row">
    <div class="col-12">
        <h1 class="page-title">Kontakt Skolenørden</h1>
    </div>
</div>

<br><br><br>

<div class="row">
    <div class="col-3"/>

    <div class="col-5">
        <br><br><br><br>
        <p>Har du fede idéer, konstruktiv feedback, ris eller ros, så er du mere end velkommen til at kontakte mig!</p>

        <br>

        <p>Email: mathias252220@gmail.com</p>
    </div>

    <div class="col-4">
        <img class="image" src="/Images/Skolenoerden2.jpg"/>
    </div>
</div>


@code {

}
