@page "/nyheder"

<PageTitle>Nyheder</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Nyheder</h2>
</section>

<section class="padding-block-500">
    <div class="card-container">
        <div class="grid-card-colums">
            <a class="card" href="/nyheder/gruppegeneratoren">
                <div class="card-header">9. juni 2025</div>
                <img class="card-image" src="/Images/StudyGroup.png" />
                <div class="card-body">
                    <h3 class="card-title">Nyt værktøj!</h3>
                    <p class="card-text">Der er nu lavet en gruppegenerator, der kan gemmes på Google Drev!</p>
                </div>
            </a>

            <a class="card" href="/nyheder/gameoflife">
                <div class="card-header">1. april 2025</div>
                <img class="card-image" src="/Images/Forside/GameOfLife.png" />
                <div class="card-body">
                    <h3 class="card-title">Nyt spil!</h3>
                    <p class="card-text">Nyt rollespil om økonomi - Game Of Life!</p>
                </div>
            </a>

            <a class="card" href="/Nyheder/layoutopdatering">
                <div class="card-header">16. marts 2025</div>
                <img class="card-image" src="/Images/Nyheder/Balloner.png" />
                <div class="card-body">
                    <h3 class="card-title">Nyt layout!</h3>
                    <p class="card-text">Skolenørden.dk har fået nyt layout!</p>
                </div>
            </a>

            <a class="card" href="/Nyheder/Opgavegenerator">
                <div class="card-header">23. september 2024</div>
                <img class="card-image" src="/Images/Forside/Opgave.png" />
                <div class="card-body">
                    <h3 class="card-title">Ny opgavegenerator!</h3>
                    <p class="card-text">Opgavegenerator til lynhurtigt at printe skræddersyede opgavesæt!</p>
                </div>
            </a>

            <a class="card" href="/Nyheder/posteloeb">
                <div class="card-header">10. september 2024</div>
                <img class="card-image" src="/Images/Forside/Skattejagt.png" />
                <div class="card-body">
                    <h3 class="card-title">Opdateret posteløb</h3>
                    <p class="card-text">Posteløb udvidet med 7., 8. og 9. klassetrin</p>
                </div>
            </a>

            <a class="card" href="/Nyheder/SkattejagtBugFix">
                <div class="card-header">13. juni 2024</div>
                <img class="card-image" src="/Images/Forside/Skattejagt.png" />
                <div class="card-body">
                    <h3 class="card-title">Skattejagt Bug Fix</h3>
                    <p class="card-text">Der er fundet en fejl i skattejagten til 0. klasse og 1. klasse. Fejlen er udbedret!</p>
                </div>
            </a>
        </div>
    </div>
</section>          

@code {

}
