@page "/Nyheder"

<PageTitle>Nyheder</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 class="page-title">Nyheder</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-12">
        <div class="row">

            <div class="col-md-3 col-6 py-3">
                <div class="card"
                    <div class="overlay-text card-date">10. september 2024</div>
                    <img class="card-img-top" src="/Images/Forside/Skattejagt.png" />
                    <div class="card-body">
                        <h3 class="card-title">Opdateret posteløb</h3>
                        <p class="card-text">Posteløb udvidet med 7., 8. og 9. klassetrin</p>
                        <a href="/Nyheder/Posteloeb" class="stretched-link"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6 py-3">
                <div class="card"
                    <div class="overlay-text card-date">23. juni 2024</div>
                    <img class="card-img-top" src="/Images/Nyheder/SnowBoarder.png" />
                    <div class="card-body">
                        <h3 class="card-title">Snow Boarder Spil!</h3>
                        <p class="card-text">Et nyt spil til samlingen</p>
                        <a href="/Nyheder/SnowBoarder" class="stretched-link"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6 py-3">
                <div class="card"
                    <div class="overlay-text card-date">19. juni 2024</div>
                    <img class="card-img-top" src="/Images/Nyheder/Pizza.png" />
                    <div class="card-body">
                        <h3 class="card-title">Nyt sommerprojekt!</h3>
                        <p class="card-text">Lidt om mit nye sommerprojekt! (og et ikke-fagligt minigame)</p>
                        <a href="/Nyheder/SommerProjekt" class="stretched-link"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6 py-3">
                <div class="card"
                    <div class="overlay-text card-date">13. juni 2024</div>
                    <img class="card-img-top" src="/Images/Forside/Skattejagt.png" />
                    <div class="card-body">
                        <h3 class="card-title">Skattejagt Bug Fix</h3>
                        <p class="card-text">Der er fundet en fejl i skattejagten til 0. klasse og 1. klasse. Fejlen er udbedret!</p>
                        <a href="/Nyheder/SkattejagtBugFix" class="stretched-link"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6 py-3">
                <div class="card"
                    <div class="overlay-text card-date">11. juni 2024</div>
                    <img class="card-img-top" src="/Images/Forside/Skattejagt.png" />
                    <div class="card-body">
                        <h3 class="card-title">Skattejagt opdateret</h3>
                        <p class="card-text">Der er nu tiljøjet tal, punktum og komma til skattejagten!</p>
                        <a href="/Nyheder/SkattejagtOpdatering2" class="stretched-link"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6 py-3">
                <div class="card"
                    <div class="overlay-text card-date">10. juni 2024</div>
                    <img class="card-img-top" src="/Images/Forside/Dagbog.png" />
                    <div class="card-body">
                        <h3 class="card-title">Nye aktiviteter!</h3>
                        <p class="card-text">Der er nu lagt to nye aktiviteter på Skolenørden!</p>
                        <a href="/Nyheder/NyeAktiviteter" class="stretched-link"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6 py-3">
                <div class="card"
                    <div class="overlay-text card-date">6. juni 2024</div>
                    <img class="card-img-top" src="/Images/Forside/Skattejagt.png" />
                    <div class="card-body">
                        <h3 class="card-title">Skattejagten opdateret!</h3>
                        <p class="card-text">Der er nu vejledning og 5. og 6. klasses niveau!</p>
                        <a href="/Nyheder/SkattejagtOpdatering" class="stretched-link"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6 py-3">
                <div class="card"
                    <div class="overlay-text card-date">1. juni 2024</div>
                    <img class="card-img-top" src="/Images/Forside/Skattejagt.png" />
                    <div class="card-body">
                        <h3 class="card-title">Skattejagten!</h3>
                        <p class="card-text">Lav din egen skattejagt med eleverne!</p>
                        <a href="/Nyheder/Skattejagten" class="stretched-link"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6 py-3">
                <div class="card"
                    <div class="overlay-text card-date">1. juni 2024</div>
                    <img class="card-img-top" src="/Images/Nyheder/Balloner.png" />
                    <div class="card-body">
                        <h3 class="card-title">Skolenørden Online!</h3>
                        <p class="card-text">Skolenørden.dk er nu åben for brugere! Velkommen til!</p>
                        <a href="/Nyheder/SkolenoerdenOnline" class="stretched-link"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@code {

}
