@page "/OmSkolenoerden"


<PageTitle>Om Skolenørden</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Om Skolenørden</h2>
</section>

<div class="article">
    <h2 class="article-title">Hvem er Skolenørden?</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="/Images/Skolenoerden2.jpg" />
        </div>
        <p>
            Mit navn er Mathias, jeg er matematik- og naturfagslærer i folkeskolen og jeg står bag Skolenørden!
        </p>
        <br/>
        <p>
            Denne hjemmeside er opstået af stor tvivl om mit fremtidige virke i folkeskolen og blev således til et projekt, der startede i foråret 2024.
            Sidenhen har jeg dog fundet glæden ved at undervise igen! Projektet lever nu ved siden af undervisningen, når der er tid, overskud og nye idéer at prøve af!
        </p>
        <br>
        <p>
            Skolenørden er min platform, hvor jeg kan afprøve en masse forskelligt! Du er velkommen til at bruge materialerne herinde, som du har lyst!
        </p>
        <br>
        <p>Rigtig god fornøjelse!</p>
    </div>
</div>


@code {

}
