@page "/OmSkolenoerden"


<PageTitle>Om Skolenørden</PageTitle>

<br><br><br>

<div class="row">
    <div class="col-12">
        <h1 class="page-title">Om Skolenørden</h1>
    </div>
</div>

<br><br><br>

<div class="row">
    <div class="col-2"/>

    <div class="col-6">
        <p>Mit navn er Mathias, jeg er matermatik- og naturfagslærer i folkeskolen og jeg står bag Skolenørden!</p>
        <p>Denne hjemmeside er opstået af stor tvivl om mit fremtidige virke i folkeskolen og blev således til et projekt, der startede i foråret 2024.
         Sidenhen har jeg dog fundet glæden ved at undervise igen! Projektet lever nu ved siden af undervisningen, når der er tid, overskud og nye idéer at prøve af!</p>
        <br>
        <p>Skolenørden er min platform, hvor jeg kan afprøve en masse forskelligt! Du er velkommen til at bruge materialerne herinde, som du har lyst!</p>
        <br>
        <p>Rigtig god fornøjelse!</p>
    </div>

    <div class="col-4">
        <img class="image" src="/Images/Skolenoerden.jpg"/>
    </div>
</div>


@code {

}
