@page "/SkolenoerdenAnbefaler"

<PageTitle>Skolenørden anbefaler</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Skolenørden Anbefaler</h2>
</section>

<section class="padding-block-500">
    <div class="card-container">
        <div class="grid-card-colums">
            <a class="card" href="/SkolenoerdenAnbefaler/Teksperimentet">
                <div class="card-header" />
                <img class="card-image" src="/Images/SkolenoerdenAnbefaler/Teksperimentet.png" />
                <div class="card-body">
                    <h3 class="card-title">Teksperimentet</h3>
                    <p class="card-text">
                        Lær dine elever at programmere og modellere in-game!
                        Selvkørende videoforløb medfølger!
                    </p>
                </div>
            </a>

            <a class="card" href="/SkolenoerdenAnbefaler/Blooket">
                <div class="card-header" />
                <img class="card-image" src="/Images/SkolenoerdenAnbefaler/Blooket.png" />
                <div class="card-body">
                    <h3 class="card-title">Blooket</h3>
                    <p class="card-text">Kahoot og spil i et!</p>
                </div>
            </a>
        </div>
    </div>
</section>

@code {

}
