@page "/Vejledninger/EscapeRoomSpil"


<PageTitle>Vejledning til Escape Room Spil</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 class="page-title">Vejledning til Escape Room Spil</h1>
    </div>
</div>

<br>
<br>
<br>

<div class="row">
    <div class="col-2" />

    <div class="col-6">
        <p><b>Tanken bag:</b></p>
        <p>Dette escape room spil er udviklet i samarbejder med mine gamle studiekammerater. Tanken bag 
            var at lave et materiale, der udfordrer elevers matematiske problemløsningsevner uden 
            regnestykker og "opgaver" i klassisk forstand.</p>

        <p/>

        <p><b>Vejledning:</b></p>
        <p>Print dagbogen <b><u>enkeltsidet</u></b> og hæft den sammen på midten, så du laver en lille bog.</p>
        <p>Print "Rigtig/Forkert" kortene ud <b><u>dobbeltsidet</u></b>, således der er tocifrede tal på
            den ene side af hvert kort, og enten et kryds eller en sætning på den anden side af kortet.
            Klip kortene ud og fold dem sammen, så det tocifrede tal er udenpå.</p>
        <p>Hver gåde ender ud i et tocifret tal (på nær side 5), som refererer til kortene i
            "Rigtig/Forkert" sættet. Elevgruppen tjekker kortene, når de mener, at de har fundet det
            rigtige svar. Finder de et kryds, er svaret forkert. Er svaret rigtigt, vil elevgruppen
            istedet få et essentielt hint til den næste gåde i dagbogen. Alle gåder kommer i rækkefølge
            i dagbogen.</p>
        <p>Den sidste gåde giver eleverne sætningen <b><u>"Din lærer gemmer noget for dig"</u></b>. Her har du
            mulighed for at lave dit eget twist på spillet. Jeg har tidligere tegnet et kort over
            skolen med et kryds på, revet det i stykker og givet hver elevgruppe et stykke uden at
            sige mere om det. Så skal eleverne selv finde ud af, at de andre grupper har de andre
            dele af kortet. Ved lokationen (krydset) har jeg så haft gemt en kiste med (chokolade)guldmønter.</p>

        <p/>

        <p><b>Idéer:</b></p>
        <p>- Prøv at hælde kaffe ud over dagbogen og tør den i ovnen. Dette misfarver papiret og gør det stift, så det føles 
            og ser meget gammelt ud!</p>

        <p/>

        <p><b>Løsning:</b></p>
        <p><u>Side 1</u>: Til den første gåde får vi givet tre kopper og skal finde ud af, hvordan vi kan lave 
            4 dL, som kan hældes i den tomme kop. Her skal saksen frem!</p>

        <p/>

        <img class="image" src="/Ressourcer/EscapeRoomSpil/KopperUdklippet.jpg"/>

        <p/>

        <p>Vi kan nu trække 3 dL fra de 5 dL, ved at lægge væskerne oven på hinanden og klippe:</p>

        <p/>

        <img class="image" src="/Ressourcer/EscapeRoomSpil/StorKopmLille.jpg" />

        <p/>

        <img class="image" src="/Ressourcer/EscapeRoomSpil/Kopper2dL.jpg" />
        
        <p/>

        <p>Vi har nu 3 dL, 3 dL og 2 dL. Lad os bruge samme trick igen, og trække 2 dL fra 3 dL:</p>

        <p/>

        <img class="image" src="/Ressourcer/EscapeRoomSpil/Kopper2Fra3.jpg"/>

        <p/>

        <p>Vi har nu to måder at lave 4 dL på: Enten ved at lægge 2 dL sammen med 2 dL eller 1 dL sammen 
            med 3 dL:</p>

        <p/>

        <img class="image" src="/Ressourcer/EscapeRoomSpil/Kopper4dL.jpg" />

        <p/>

        <p>Lad os "hælde" 4 dL over i den sidste kop og finde svaret!</p>

        <p/>

        <img class="image" src="/Ressourcer/EscapeRoomSpil/KopperSvar1.jpg"/>

        <p/>

        <img class="image" src="/Ressourcer/EscapeRoomSpil/KopperSvar2.jpg"/>

        <p/>

        <p>Finder vi 38 i kortbunken får vi hintet "Kan I finde spørgsmålet mellem linjerne?".</p>

        <p/>

        <p><u>Side 2 og 3</u>: På side 2 får vi nogle informationer, men ingen instrukser i, hvad vi skal. 
            Vi går videre til side 3, og finder her de føromtalte "linjer". Disse kan foldes eller klippes ud!</p>

        <p/>

        <img class="image" src="/Ressourcer/EscapeRoomSpil/LinjerUfoldet.jpg"/>

        <p/>

        <img class="image" src="/Ressourcer/EscapeRoomSpil/LinjerFoldet.jpg"/>

        <p/>

        <p>Nu fremkommer spørgsmålet "Hvor gammel er Træben når Mary fylder 40". Vi ved, at da Træben 
            var 24, så var Mary 8. Der er derfor gået 32 år, og Træben må være 56. Vi kigger i kortbunken 
            og får det næste hint "Løsningen på sudokuen findes i summen".</p>

        <p/>

        <p><u>Side 4</u>: På side 4 har vi en sudoku med viden om, at ledetråden er i sjette række. 
            Sæt dette sammen med ovenstående hint, må løsningen være summen på sjette række, når sudokuen 
            er løst. Da alle rækker i en sudoku består af tallene 1, 2, 3, 4, 5, 6, 7, 8 og 9, må summen 
            være 45 uanset række!</p>

        <p/>

        <img class="image" src="/Ressourcer/EscapeRoomSpil/Sudoku.jpg"/>

        <p/>

        <p>Vi kigger i kortbunken efter 45 og får hintet "Kan I finde kloen og dødningehovedet i Sortskægs 
            sidste besked?".</p>

        <p/>

        <p><u>Side 5</u>: Side 5 består af en masse krydseduller, som det er svært at få noget ud af. 
            Ser vi nærmere kan der dog anes noget, der kunne minde om bunden af et dødningehoved og noget af 
            en klo. Mon vi nu skal folde igen?</p>

        <p/>

        <img class="image" src="/Ressourcer/EscapeRoomSpil/DodningehovedUfoldet.jpg"/>

        <p/>

        <img class="image" src="/Ressourcer/EscapeRoomSpil/DodningehovedFoldet.jpg"/>

        <p/>

        <p>Tallet 5 fremkommer sammen med kloen og dødningehovedet. I kortbunken finder vi hintet "I har nu alle 
            jeres svar".</p>

        <p/>

        <p><u>Side 6</u>: Vi skal nu opskrive vores eget regnestykke ud fra alle de svar, vi har fundet i 
            dagbogen. De største af svarene skal stå til sidst, og vi får derfor følgende regnestykke, som kan 
            udregnes.</p>

        <p/>

        <img class="image" src="/Ressourcer/EscapeRoomSpil/SidsteGaade.jpg"/>

        <p/>

        <p>Kigger vi i kortbunken efter 22, får vi hintet "Jeres lærer gemmer noget for jer".</p>
        
    </div>

</div>

@code {

}
