@page "/Vejledninger/EscapeRoomSpil"


<PageTitle>Vejledning til Escape Room Spil</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 class="page-title">Vejledning til Escape Room Spil</h1>
    </div>
</div>

<br>
<br>
<br>

<div class="row">
    <div class="col-2" />

    <div class="col-6">
        <p><b>Tanken bag:</b></p>
        <p>Dette escape room spil er udviklet i samarbejder med mine gamle studiekammerater. Tanken bag 
            var at lave et materiale, der udfordrer elevers matematiske problemløsningsevner uden 
            regnestykker og "opgaver" i klassisk forstand.</p>
        <p><b>Vejledning:</b></p>
        <p>Print dagbogen <b><u>enkeltsidet</u></b> og hæft den sammen på midten, så du laver en lille bog.</p>
        <p>Print "Rigtig/Forkert" kortene ud <b><u>dobbeltsidet</u></b>, således der er tocifrede tal på
            den ene side af hvert kort, og enten et kryds eller en sætning på den anden side af kortet.
            Klip kortene ud og fold dem sammen, så det tocifrede tal er udenpå.</p>
        <p>Hver gåde ender ud i et tocifret tal (på nær side 5), som refererer til kortene i
            "Rigtig/Forkert" sættet. Elevgruppen tjekker kortene, når de mener, at de har fundet det
            rigtige svar. Finder de et kryds, er svaret forkert. Er svaret rigtigt, vil elevgruppen
            istedet få et essentielt hint til den næste gåde i dagbogen. Alle gåder kommer i rækkefølge
            i dagbogen.</p>
        <p>Den sidste gåde giver eleverne sætningen <b><u>"Din lærer gemmer noget for dig"</u></b>. Her har du
            mulighed for at lave dit eget twist på spillet. Jeg har tidligere tegnet et kort over
            skolen med et kryds på, revet det i stykker og givet hver elevgruppe et stykke uden at
            sige mere om det. Så skal eleverne selv finde ud af, at de andre grupper har de andre
            dele af kortet. Ved lokationen (krydset) har jeg så haft gemt en kiste med (chokolade)guldmønter.</p>
        <p><b>Løsning:</b></p>
        <p></p>
        <p><b>Idéer:</b></p>
        <p></p>

    </div>

    <div class="col-4">
        <div class="card">
            <img class="image" src="" />
        </div>
    </div>
</div>

@code {

}
