@page "/Vejledninger/Skattejagt"


<PageTitle>Vejledning til Skattejagt</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 class="page-title">Vejledning til Skattejagt</h1>
    </div>
</div>

<br>
<br>
<br>

<div class="row">
    <div class="col-2" />

    <div class="col-6">
        <p><b>Hvordan:</b></p>
        <p>Skattejagten er ment som en måde at kombinere træning af de fire regnearter med bevægelse.</p>
        <p>Skattejagten starter fælles ved den første post. F.eks. inde i klassen, hvor hver gruppe får udleveret arkene "Nøgle" og "Klassen". 
           Læg mærke til, at hvert ark har et gruppenummer. Den samme gruppe skal således have ark med det samme gruppenummer. I takt med, at eleverne løser opgaverne, 
           bliver de sendt ud på de forskellige poster. Hver gruppe får posterne i forskellig rækkefølge, så de ikke følges ad. Postenavnene skal således også være steder på skolen, 
           som eleverne genkender! Alle elever ledes til den sidste post, hvor der er mulighed for fælles opsamling.</p>
        <p><b>Idéer: </b></p>
        <p>Hvis du vil have en skat til slut af skattejagten, kan du med fordel sætte en kodelås på. Skriv på den sidste post for fire af grupperne et ciffer. 
           De andre grupper kan få et hint om, hvilke positioner cifrene skal være på. F.eks. "Gruppe 1 har det 3. ciffer". Således kan skatten åbnes til sidst, 
           når alle grupper er kommet igennem.</p>
    </div>

    <div class="col-4">
        <div class="card">
            <img class="image" src="/Images/Forside/Skattejagt.png" />
        </div>
    </div>
</div>


@code {

}
