@page "/Vejledninger/100Gangestykker"

<PageTitle>Vejledning til 100 Gangestykker</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Vejledning</h2>
</section>

<div class="article">
    <h2 class="article-title">Vejledning til 100 Gangestykker</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="/Images/Forside/100Gangestykker.png" />
        </div>
        <p>
            Aktiviteten er inspireret af en øvelse, som jeg observerede på en boost-camp. Det er en sjov
            måde at træne tabellerne fra 1 til 10, og øvelsen er fælles for hele klassen!
        </p>

        <br/>

        <p>
            Alle elever får udleveret et ark med 100 gangestykker. Det er vigtigt, at eleverne ikke skriver
            navn på arkene, da de ikke beholder dem ret længe! Når alle er klar, starter læreren et stopur
        </p>

        <br/>

        <p>
            Eleverne får nu 2 minutter til at løse så mange gangestykker, de overhovedet kan! Man må
            gerne springe i opgaverne! Efter de to minutter siger læreren "Skift!", og eleverne skal nu
            sende deres ark til højre, og får nu to minutter mere. Sådan fortsættes der, indtil alle ark
            er udfyldt (eller indtil eleverne kører trætte i øvelsen).
            Hvis en eller flere elever bliver færdige før de andre, så kan de hjælpe med at løse de
            resterende ark.
        </p>

        <br/>

        <p>
            Når alle ark er løst, stoppes uret og tiden noteres. Klassen har nu en fælles tid for øvelsen
            og kan prøve at slå tiden næste gang!
        </p>

        <br/>

        <p>
            Der er meget tid at hente i denne øvelse, hvis eleverne kan tænke taktisk. Da arkene er ens,
            kan eleverne med fordel øve bestemte gangestykker, og svare på dem på hvert ark. Læreren kan
            også fint udfordre eleverne ved at sige "Hvis du selv synes, du er stærk til gangestykker, så
            start med de svære opgaver!"
        </p>
    </div>
</div>

@code {

}
