@page "/Vejledninger/Opgavegenerator"

<PageTitle>Vejledning til Opgavegenerator</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Vejledning</h2>
</section>

<div class="article">
    <h2 class="article-title">Vejledning til Opgavegenerator</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="/Images/Forside/Opgave.png" />
        </div>
        <p>
            Opgavesættet er delt op i 10 opgavegrupper af tre opgaver i hver. Vælg opgavetype og klassetrin for
            hver opgavegruppe.
        </p>

        <br/>

        <p>
            Jeg afventer lige nu en opdatering af værktøjet "QuestPDF" (bruges til layout
            af printede opgaver), der gør det muligt at lave pænere baggrunde til printede ark.
        </p>
    </div>
</div>

@code {

}
