@page "/Vejledninger/Opgavegenerator"


<PageTitle>Vejledning til Opgavegenerator</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 class="page-title">Vejledning til Opgavegenerator</h1>
    </div>
</div>

<br>
<br>
<br>

<div class="row">
    <div class="col-2" />

    <div class="col-6">
        <p><b>Vejledning:</b></p>
        <p>Opgavesættet er delt op i 10 opgavegrupper af tre opgaver i hver. Vælg opgavetype og klassetrin for 
            hver opgavegruppe.
        </p>
        <p>
            Jeg afventer lige nu en opdatering af værktøjet "QuestPDF" (bruges til layout
            af printede opgaver), der gør det muligt at lave pænere baggrunde til printede ark.
        </p>

        <p/>

    </div>

    <div class="col-4">
        <div class="card">
            <img class="image" src="/Images/Forside/Opgave.png" />
        </div>
    </div>
</div>


@code {

}
