@page "/Nyheder/Skattejagten"

<PageTitle>Skattejagten</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 style="text-align:center">Skattejagtsgeneratoren</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-2" />

    <div class="col-6">
        <p>Mit første projekt på skolenørden ligger nu klar til brug. Det er en skattejagtgenerator, der tager udgangspunkt 
            i de fire regnearter: addition, subtraktion, multiplikation og division. Vælg antallet af deltagende grupper i skattejagten 
            (hver gruppe får en sæt). Vælg dernæst antallet af poster, der skal være i skattejagten og navngiv posterne efter kendte steder 
            på skolen (helst navne, som eleverne kender!). Tryk "Generer skattejagt", og du vil få en pdf til print. Filen indeholder 
            alt, hvad du får brug for! Hver gruppe skal have en nøgle, og alle posterne skal hænges op de angivne steder på skolen.
            Alle elever mødes ved den første post (f.eks. klassen) og får "klasse"-posten udleveret, og så er det bare om at komme igennem skattejagten!</p>
        <p>Alle grupper vil til sidst blive ledt tilbage til den første post, hvor det er oplagt at mødes igen. Evt. med en gemt skat! ;)</p
        <p>Til en start har jeg forsøgt at sætte niveauerne fra 0. klasse til 4. klasse, men det er bestemt tanken, at der skal komme mere!</p>
    </div>

    <div class="col-4">
        <img class="image" src="/Images/Forside/Skattejagt.png" />
    </div>
</div>

@code {

}
