@page "/Nyheder/SkolenoerdenOnline"


<PageTitle>Skolenørden er Online!</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 style="text-align:center">Skolenørden er online!</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-2" />

    <div class="col-6">
        <p>Velkommen til Skolenørden.dk! Siden, hvor jeg lægger alt fra mine programmeringsprojekter op!</p>
        <p>Skolenørden er primært blevet til for min egen skyld, da jeg lærer om programmering og 
            softwareudvikling, og bruger denne side til at træne mine evner!</p>
        <p>Da jeg er tidligere folkeskolelærer, bliver rigtig meget af mit materiale skolerelateret, og du 
            er meget velkommen til at bruge sidens indhold, hvis det passer ind i din undervisning!</p>
        <p>Rigtig god fornøjelse med sidens indhold!</p>
    </div>

    <div class="col-4">
        <img class="image" src="/Images/Nyheder/Balloner.png"/>
    </div>
</div>

@code {

}
