@inherits LayoutComponentBase

<header class="primary-header">
    <NavMenu />
</header>

<main>  
    <div class="page">
        <div class="banner">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -18.672 494.813 110" width="60%">
                <defs>
                    <path id="path-0" d="M 10 100 C 124.218 16.704 355.937 14.921 450 100"></path>
                </defs>
                <text class="banner-title"><textPath startOffset="52%" text-anchor="middle" href="#path-0">Skolenørden</textPath></text>
            </svg>
        </div>
        @Body
    </div>
</main>

<footer class="footer">
    <FooterMenu />
</footer>

