@inherits LayoutComponentBase

<div class="page col-12">
    <div class="row">
        
        <div class="col-2"/>

        <div class="col-8">
            <div class="row">
                <div class="col-lg-1 "/>
                <div class="col-lg-10 ">
                    <nav id="navbar" class="navbar navbar-expand-lg mt-5">
                        <div class="container-fluid d-flex flex-row justify-content-center">
                            <div id="navbarNav">
                                <ul class="fs-5 navbar-nav">
                                    <li class="nav-item px-4">
                                        <a href="/" class="top-item">Forside</a>
                                    </li>
                                    <li class="nav-item px-4">
                                        <a href="/aktiviteter" class="top-item">Aktiviteter</a>
                                    </li>
                                    <li class="nav-item px-4">
                                        <a href="/omskolenoerden" class="top-item">Om Skolenørden</a>
                                    </li>
                                    <li class="nav-item px-4">
                                        <a href="/kontakt" class="top-item">Kontakt</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

                    
            </div>
            <div class="content col-12">
                @Body
            </div>
        </div>
            
        </div>
    <div class="col-2"/>
</div>