<nav class="nav-bar">
    <a class="logo" href=""><img class="logo-image" src="/Images/FavIcon.svg" alt="Skolenørden"></a>
    <ul class="nav-list">
        <li class="nav-element button"><a href="#">Forside</a></li>
        <li class="nav-element button"><a href="/nyheder">Nyheder</a></li>
        <li class="nav-element button"><a href="/aktiviteter">Aktiviteter</a></li>
    </ul>
</nav>