<nav class="navbar">

    <div class="row col-12">
        <div class="col-12">
            <div class="nav-title">
                <span><u>Menu</u></span>
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-12">
            <div class="nav-item">
                <NavLink class="nav-link" href="">
                    <span>Forside</span>
                </NavLink>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="nav-item">
                <NavLink class="nav-link" href="/Nyheder">
                    <span>Nyheder</span>
                </NavLink>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="nav-item">
                <NavLink class="nav-link" href="/Skattejagt">
                    <span>Lav Skattejagt</span>
                </NavLink>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="nav-item">
                <NavLink class="nav-link" href="/Aktiviteter/EscapeRoomSpil">
                    <span>Sortskægs Dagbog</span>
                </NavLink>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="nav-item">
                <NavLink class="nav-link" href="/Aktiviteter/100Gangestykker">
                    <span>100 Gangestykker</span>
                </NavLink>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="nav-item">
                <NavLink class="nav-link" href="/SkolenoerdenAnbefaler">
                    <span>Skolenørden Anbefaler</span>
                </NavLink>
            </div>
        </div>
    </div>
</nav>