@page "/nyheder/layoutopdatering"

<PageTitle>Nyt layout</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Nyheder</h2>
</section>

<div class="article">
    <h2 class="article-title">Nyt layout</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="/Images/Nyheder/Balloner.png" />
        </div>
        <p>
            Jeg har opdateret Skolenørden.dk's layout og ryddet godt og grundigt op i den bagvedliggende kode!
        </p>
        <br/>
        <p>
            Jeg er desuden i fuld gang med at afprøve nyt materiale (et rollespil om privatøkonomi).
            Der er stadig en række ting, der skal forbedres, men når jeg er tilfreds, bliver det lagt op til jer!
        </p>
    </div>
</div>

@code {

}
