@page "/Nyheder/Posteloeb"

<PageTitle>Posteløb opdatering</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 style="text-align:center">Posteløb opdatering</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-2" />

    <div class="col-6">
        <p>Posteløbet er blevet udvidet! Nu er der brøkregning og ligningsløsning til 7., 8. og 9. klasse!
        </p>
    </div>

    <div class="col-4">
        <img class="image" src="/Images/Forside/Skattejagt.png" />
    </div>
</div>

@code {

}
