@page "/Nyheder/NyeAktiviteter"

<PageTitle>Nye Aktiviteter</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 style="text-align:center">Nye Aktiviteter</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-2" />

    <div class="col-6">
        <p>Der er kommet nye aktiviteter på Skolenørden! Prøv "Sortskægs Dagbog"; Et escape room eventyr for 6. 
            klasse og opefter eller "100 Gangestykker", en aktivitet hvor klassen konkurrerer mod sig selv!
        </p>
    </div>

    <div class="col-4">
        <img class="image" src="/Images/Forside/EscapeRoomSpil.png" />
    </div>
</div>

@code {

}
