@page "/Nyheder/NyeAktiviteter"

<PageTitle>Nye Aktiviteter</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Nyheder</h2>
</section>

<div class="article">
    <h2 class="article-title">Nye aktiviteter</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="/Images/Forside/Dagbog.png" />
        </div>
        <p>
            Der er kommet nye aktiviteter på Skolenørden! Prøv "Sortskægs Dagbog"; Et escape room eventyr for 6.
            klasse og opefter eller "100 Gangestykker", en aktivitet hvor klassen konkurrerer mod sig selv!
        </p>
    </div>
</div>

@code {

}
