@page "/nyheder/gameoflife"

<PageTitle>Nyt spil - Game Of Life</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Nyheder</h2>
</section>

<div class="article">
    <h2 class="article-title">Nyt spil - Game Of Life</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="/Images/Forside/GameOfLife.png" />
        </div>
        <p>
            Langt om længe er der kommet nyt materiale på Skolenørden.dk!
        </p>

        <br/>

        <p>
            Jeg har i forbindelse med et økonomiforløb designet rollespillet "Game Of Life", der tager udgangspunkt 
            i studerendes privatøkonomi. Spillet kan spilles i udskolingen sideløbende med andre undervisningsforløb.
        </p>

        <br/>

        <p>
            Spillet kan findes <a href="/aktiviteter/gameoflife">her</a>
        </p>
    </div>
</div>

@code {

}
