@page "/Nyheder/Opgavegenerator"

<PageTitle>Opgavegenerator opdatering</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Nyheder</h2>
</section>

<div class="article">
    <h2 class="article-title">Opgavegenerator opdatering</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="/Images/Forside/Opgave.png" />
        </div>
        <p>
            Der er nu tilføjet nyt materiale til Skolenørden! En opgavegenerator, der lynhurtigt kan printe et skræddersyet opgavesæt!
        </p>
        <br/>
        <p>Indtil videre indeholder den addition, subtraktion, multiplikation, division, brøkregning med de fire regnearter og ligninger!</p>
        <br />
        <p>God fornøjelse!</p>
    </div>
</div>

@code {

}
