@page "/Nyheder/Opgavegenerator"

<PageTitle>Opgavegenerator opdatering</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 style="text-align:center">Opgavegenerator opdatering</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-2" />

    <div class="col-6">
        <p>Der er nu tilføjet nyt materiale til Skolenørden! En opgavegenerator, der lynhurtigt at printe et skræddersyet</p>
        <p>opgavesæt! Indtil videre indeholder den addition, subtraktion, multiplikation, division, brøkregning med de fire</p>
        <p>regnearter og ligninger!</p>
        <br/>
        <p>God fornøjelse!</p>
    </div>

    <div class="col-4">
        <img class="image" src="/Images/Forside/Opgave.png" />
    </div>
</div>

@code {

}
