@page "/Nyheder/Posteloeb"

<PageTitle>Posteløb opdatering</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Nyheder</h2>
</section>

<div class="article">
    <h2 class="article-title">Posteløb opdatering</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="/Images/Forside/Skattejagt.png" />
        </div>
        <p>
            Posteløbet er blevet udvidet! Nu er der brøkregning og ligningsløsning til 7., 8. og 9. klasse!
        </p>
    </div>
</div>

@code {

}
