@page "/nyheder/posteloebNyhed2"

<PageTitle>Opdatering til posteløb</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Nyheder</h2>
</section>

<div class="article">
    <h2 class="article-title">Opdatering til posteløb</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="~/Images/Forside/Skattejagt.png" />
        </div>
        <p>
            Posteløbsgeneratoren er nu opdateret. Ved print til flere grupper vil hver post være lagt sammen i printet, så det er nemmere at klippe ud og sortere til brug.
        </p>
        <p>
            Hvis du oplever fejl grundet den nye opdatering, så skriv meget gerne til mathias252220@gmail.com!
        </p>
        <br/>
        <p>
            <a class="article-button" href="/aktiviteter/posteloeb">Posteløbsgenerator</a>
        </p>
    </div>
</div>

@code {

}
