@page "/Nyheder/SkattejagtOpdatering2"

<PageTitle>Skattejagten opdateret</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Nyheder</h2>
</section>

<div class="article">
    <h2 class="article-title">Skattejagten opdateret!</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="/Images/Forside/Skattejagt.png" />
        </div>
        <p>
            Skattejagtsgeneratoren er blevet opdateret således, at den nu også tager imod tal, punktum og komma i
            postenavnene!
        </p>
        <br/>
        <p>
            Formatet er også ændret en anelse, således at den sidste post nu ER den sidste post!
            Den peger altså ikke længere tilbage på den første post! Dette kan dog gøres manuelt, ved at tilføje
            navnet på første post igen som den sidste.
        </p>
    </div>
</div>


@code {

}

@code {

}
