@page "/Nyheder/SkattejagtOpdatering"

<PageTitle>Skattejagten opdateret</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Nyheder</h2>
</section>

<div class="article">
    <h2 class="article-title">Skattejagten opdateret!</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="/Images/Forside/Skattejagt.png" />
        </div>
        <p>
            Skattejagtsgeneratoren er blevet opdateret således, at den nu også kan lave skattejagte til 5. og 6. klasses niveau. Her er der lagt fokus på
            at addere og subtrahere med decimaltal samt multiplicere med flercifrede tal.
        </p>
        <br/>
        <p>
            Der er nu også lagt en vejledning på siden, hvor der også er idéer til,
            hvordan skattejagten kan bruges i undervisningen!
        </p>
    </div>
</div>


@code {

}
