@page "/Nyheder/SkattejagtBugFix"

<PageTitle>Skattejagt Bug Fix</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Nyheder</h2>
</section>

<div class="article">
    <h2 class="article-title">Skattejagt Bug Fix</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="/Images/Forside/Skattejagt.png" />
        </div>
        <p>
            Jeg fandt til morgen en fejl i skattejagten til 0. klasse og til 1. klasse. Jeg beklager, hvis det har ført til problemer i undervisningen!
            Fejlen skulle meget gerne være rettet nu!
        </p>
    </div>
</div>

@code {

}
