@page "/Nyheder/SkattejagtOpdatering"

<PageTitle>Skattejagten opdateret</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 style="text-align:center">Skattejagten opdateret!</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-2" />

    <div class="col-6">
        <p>Skattejagtsgeneratoren er blevet opdateret således, at den nu også kan lave skattejagte til 5. og 6. klasses niveau. Her er der lagt fokus på 
           at addere og subtrahere med decimaltal samt multiplicere med flercifrede tal. Der er nu også lagt en vejledning på siden, hvor der også er idéer til, 
           hvordan skattejagten kan bruges i undervisningen!</p>
    </div>

    <div class="col-4">
        <img class="image" src="/Images/Forside/Skattejagt.png" />
    </div>
</div>


@code {

}
