@page "/Nyheder/SkolenoerdenOnline"


<PageTitle>Skolenørden er Online!</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Nyheder</h2>
</section>

<div class="article">
    <h2 class="article-title">Skolenørden er online!</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="/Images/Nyheder/Balloner.png" />
        </div>
        <p>Velkommen til Skolenørden.dk! Siden, hvor jeg lægger alt fra mine programmeringsprojekter op!</p>
        <br />
        <p>
            Skolenørden er primært blevet til for min egen skyld, da jeg lærer om programmering og
            softwareudvikling, og bruger denne side til at træne mine evner!
        </p>
        <br />
        <p>
            Da jeg er tidligere folkeskolelærer, bliver rigtig meget af mit materiale skolerelateret, og du
            er meget velkommen til at bruge sidens indhold, hvis det passer ind i din undervisning!
        </p>
        <br/>
        <p>Rigtig god fornøjelse med sidens indhold!</p>
    </div>
</div>

@code {

}
