@page "/Nyheder/SnowBoarder"

<PageTitle>Snow Boarder</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 style="text-align:center">Snow Boarder Spil</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-2" />

    <div class="col-6">
        <p>
            Endnu et lille spil til samlingen.
        </p>
    </div>

    <div class="col-4">
        <img class="image" src="/Images/Nyheder/SnowBoarder.png" />
    </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <iframe class="col-6" id='webgl_iframe' frameborder="0" allow="autoplay; fullscreen; vr" allowfullscreen="" allowvr=""
            mozallowfullscreen="true" src="https://play.unity.com/webgl/ed3d2785-d8b9-420e-bb69-600806851a73?screenshot=false&embedType=embed/index.html" width="810"
            height="640" onmousewheel="" webkitallowfullscreen="true" style="aspect-ratio:16/9; height:auto"></iframe>
    <div class="col-4" />
</div>


<br>
<br>

@code {

}
