@page "/Nyheder/SommerProjekt"

<PageTitle>Sommer Projekt</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 style="text-align:center">Sommer Projekt</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-2" />

    <div class="col-6">
        <p>
            Jeg er så småt gået i gang med mit næste større projekt, som kommer til at vare henover sommerferien.
            Jeg vil forsøge at udvikle et rollespil med "Unity", der er et stykke spiludviklingssoftware!
            Med her får i et ikke-fagligt minigame, jeg har designet i Unity. Spillet kaldes "Delivery Driver" og
            går ud på at levere pizzaer til kunderne i byen. God fornøjelse! (husk at samle pizzaerne op, inden de
            leveres!)
        </p>
    </div>

    <div class="col-4">
        <img class="image" src="/Images/Nyheder/Pizza.png" />
    </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <iframe class="col-6" id='webgl_iframe' frameborder="0" allow="autoplay; fullscreen; vr" allowfullscreen="" allowvr=""
            mozallowfullscreen="true" src="https://play.unity.com/webgl/7cd2b6a6-bcaa-4ad0-8f05-c96f1d868bf9?screenshot=false&embedType=embed/index.html" width="810"
            height="640" onmousewheel="" webkitallowfullscreen="true" style="aspect-ratio:16/9; height:auto"></iframe>
    <div class="col-4" />
</div>


<br>
<br>

@code {

}
