@inject IJSRuntime JS
@page "/Aktiviteter/100Gangestykker"


<PageTitle>100 Gangestykker</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Aktiviteter</h2>
</section>

<div class="article">
    <h2 class="article-title">100 Gangestykker</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="/Images/Forside/100Gangestykker.png" />
        </div>
        <p>
            "100 Gangestykker" er en sjov aktivitet, der kan bruges til tabeltræning. Aktiviteten er fælles
            for hele klassen!
        </p>

        <br/>

        <div class="article-button" @onclick="Download100Gangestykker">100 Gangestykker</div>

        <br/>

        <a class="article-button" href="/Vejledninger/100Gangestykker">Vejledning</a>
    </div>
</div>


@code {
    private async Task Download100Gangestykker()
    {
        var fileName = "100Gangestykker.pdf";
        var fileURL = "/Ressourcer/100Gangestykker.pdf";
        await JS.InvokeVoidAsync("triggerFileDownload", fileName, fileURL);
    }
}
