@page "/aktiviteter/gameoflife"

<PageTitle>Game Of Life</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Aktiviteter</h2>
</section>

<div class="article">
    <h2 class="article-title">Game Of Life</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="/Images/Forside/GameOfLife.png" />
        </div>
        <p>
            "Game Of Life" er et rollespil, der kan spilles sideløbende med andre forløb. Spillet tager udgangspunkt i 
            studerendes privatøkonomi og kan spilles i udskolingen, gerne 8. eller 9. klassetrin.
        </p>

        <br/>

        <p>
            Spillets primære platform er Google Sheets og Google Slides.
        </p>

        <br/>

        <a class="article-button" href="https://drive.google.com/drive/folders/15TGxyyQAz61B3RA7neafXPyrpIDyYMPu?usp=sharing">Game Of Life</a>
    </div>
</div>


@code {
}
