@page "/aktiviteter/gruppegenerator"

<PageTitle>Gruppegeneratoren</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Aktiviteter</h2>
</section>

<div class="article">
    <h2 class="article-title">Gruppegeneratoren</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="/Images/StudyGroup.png" />
        </div>
        <p>
            Gruppegeneratoren kan lave både helt og delvist tilfældigt sammensatte grupper. Beskriv hver enkelt elevs potentielle gruppemakkere, og få programmet til at sammensætte grupperne for dig!
        </p>

        <br/>

        <p>
            Fordi programmet er lavet i Google Sheets, kan du dele og sågar gemme programmet og dets indstillinger på google drev til næste gang, at du laver grupper!
        </p>

        <br/>

        <a class="article-button" href="https://drive.google.com/drive/folders/1hgNxzIYIt4dUGAHpoKZFIh5P3ZtEmS4N?usp=drive_link">Gruppegeneratoren på google drev</a>
    </div>
</div>


@code {
}
