@inject IJSRuntime JS
@page "/Aktiviteter/SortskaegsDagbog"


<PageTitle>Sortskægs Dagbog</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Aktiviteter</h2>
</section>

<div class="article">
    <h2 class="article-title">Sortskægs Dagbog</h2>
    <div class="article-text">
        <div class="article-image">
            <img class="image" src="/Images/Forside/Dagbog.png" />
        </div>
        <p>
            Kaptajn Sortskæg har efterladt sig sin dagbog, og det er nu op til dig at løse dens gåder og
            finde Sortskægs gemte skat!
        </p>

        <p>Klip, fold og tegn dig igennem alle gåderne!</p>

        <br />

        <p>Indhold:</p>

        <p>I denne aktivitet skal du bruge:</p>

        <p>- En "Dagbog" til hver elevgruppe (enkelsidet print)</p>

        <p>- En "Kopper" til hver elevgruppe</p>

        <p>- Et sæt "Rigtig/Forkert" til klassen (dobbelsidet print, klippet ud)</p>

        <p>- Papir, blyant og saks til hver elevgruppe</p>

        <br />

        <div class="generator-split-box">
            <div class="article-button" @onclick="DownloadDagbog">Dagbog</div>

            <div class="article-button" @onclick="DownloadKopper">Kopper</div>

            <div class="article-button" @onclick="DownloadRigtigForkert">Rigtig/Forkert</div>
        </div>

        <br/>

        <div class="text-align-center">
            <a class="article-button" href="/Vejledninger/SortskaegsDagbog">Vejledning</a>
        </div>
    </div>
</div>


@code {
    private async Task DownloadDagbog()
    {
        var fileName = "Dagbog.pdf";
        var fileURL = "/Ressourcer/SortskaegsDagbog/Dagbog.pdf";
        await JS.InvokeVoidAsync("triggerFileDownload", fileName, fileURL);
    }
    private async Task DownloadKopper()
    {
        var fileName = "Kopper.pdf";
        var fileURL = "/Ressourcer/SortskaegsDagbog/Kopper.pdf";
        await JS.InvokeVoidAsync("triggerFileDownload", fileName, fileURL);
    }
    private async Task DownloadRigtigForkert()
    {
        var fileName = "RigtigForkert.pdf";
        var fileURL = "/Ressourcer/SortskaegsDagbog/RigtigForkert.pdf";
        await JS.InvokeVoidAsync("triggerFileDownload", fileName, fileURL);
    }
}
