.page {
    font-family: cursive;
    background: url('/Images/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.empty-top {
    height: 12vh;
}
.top-row {
    height: 12vh;
    background: linear-gradient(90deg, rgba(248, 155, 41, 0.25) 0%, rgba(255,15,123,0.25) 100%);
}

.top-item {
    height: 12vh;
    font-size: 3vh;
    color: black;
    align-items: center;
    justify-content: center;
}

.top-item ::deep .nav-link {
    color: black;
}

.sidebar {
    background: linear-gradient(180deg, rgba(248, 155, 41, 0.25) 0%, rgba(255,15,123,0.25) 100%);
}

.content {
    font-size: 1vw;
}

    .content ::deep .btn-primary{
        font-size: 1vw;
        min-width: 4vw;
    }

    .content ::deep .row {
        align-items: center;
    }
