.page {
    font-family: ComicSans;
    background: url('/Images/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

@font-face {
    font-family: ComicSans;
    src: url(/Fonts/ComicSans.ttf);
}

.empty-top {
    height: 10vw;
}
.top-row {
    height: 10vw;
    background: linear-gradient(90deg, rgba(248, 155, 41, 0.25) 0%, rgba(255,15,123,0.25) 100%);
}

.top-item {
    height: 10vw;
    font-size: 1.5vw;
    color: black;
    align-items: center;
    justify-content: center;
} 

.top-item ::deep .nav-link {
    color: black;
}

.sidebar {
    background: linear-gradient(180deg, rgba(248, 155, 41, 0.25) 0%, rgba(255,15,123,0.25) 100%);
    width: 15vw;
}

.content {
    font-size: 1vw;
}
    .content ::deep .page-title{
        font-size: 3vw;
        text-align: center;
    }

    .content ::deep .btn-primary{
        font-size: 1vw;
        min-width: 4vw;
    }

    .content ::deep .row {
        align-items: center;
    }

    .content ::deep .vejledning {
        text-align: center;
        Display: block;
        Margin: auto;
        min-width: 5vw;
        max-width: fit-content;
    }

    .content ::deep .card-title {
        font-size: 1.5vw;
        text-align: center;
        padding-bottom: 0.5vw
    }

    .content ::deep .card-text {
        font-size: 0.75vw;
    }

    .content ::deep .card-date {
        font-size: 0.50vw;
        text-align: right;
    }

    .content ::deep .image {
        width: 100%
    }

    .content ::deep .card {
        width: 95%;
        height: 25vw;
    }

    .content ::deep .card-img-top {
        height: 50%;
        width: fit-content;
        Display: block;
        Margin: auto;
    }