.page {
    font-family: cursive;
    background: url('/Images/Background.png');
    background-size: cover;
}

.empty-top {
    height: 8rem;
}
.top-row {
    height: 8rem;
    background: linear-gradient(90deg, rgba(248, 155, 41, 0.25) 0%, rgba(255,15,123,0.25) 100%);
}

.top-item {
    height: 8rem;
    font-size: 2rem;
    color: black;
    align-items: center;
    justify-content: center;
}

.top-item ::deep .nav-link {
    color: black;
}

.sidebar {
    background: linear-gradient(180deg, rgba(248, 155, 41, 0.25) 0%, rgba(255,15,123,0.25) 100%);
}

.content {

}
