.navbar {
    cursor: pointer;
}

.navbar:checked {
    background-color: white;
}

.nav-logo {
    height: 5rem;
}

.nav-title {
    font-size: 1rem;
    color:black;
    text-align: center;
}
.nav-item {
    font-size: 2rem;
    color: black;
    text-align: center;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item ::deep .nav-link {
    color: black;
}

.nav-item ::deep a.active {
    color: black;
}
.nav-item ::deep .nav-link:hover {
    color: white;
}

