<nav class="navbar">

    <div class="row">
        <div class="col-12">
            <div class="nav-logo">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="nav-title">
                <span><u>Menu</u></span>
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-12">
            <div class="nav-item">
                <NavLink class="nav-link" href="">
                    <span>Forside</span>
                </NavLink>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="nav-item">
                <NavLink class="nav-link" href="/Nyheder">
                    <span>Nyheder</span>
                </NavLink>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="nav-item">
                <NavLink class="nav-link" href="/Skattejagt">
                    <span>Lav skattejagt</span>
                </NavLink>
            </div>
        </div>
    </div>  
</nav>