@page "/SkolenoerdenAnbefaler/Teksperimentet"


<PageTitle>Skolenørden anbefaler Teksperimentet</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 class="page-title">Skolenørden anbefaler Teksperimentet!</h1>
    </div>
</div>

<br>
<br>
<br>

<div class="row">
    <div class="col-2" />

    <div class="col-6">
        <p>Jeg har efterhånden introduceret en del elever fra 4. klasse og op til 7. i CoSpaces på SkoleTube. 
        Jeg har hver gang benyttet mig af Teksperimentets videoforløb, der giver glimrende forklaringer til de mange 
        spændende elementer i CoSpaces! Når jeg bliver spurgt ind til undervisning i programmering, så vil kombinationen 
        af CoSpaces og Teksperimentet altid være mit go-to.</p>
        <p>Teksperimentet har udover forløb i CoSpaces også en række andre videoforløb, bl.a. i MineCraft, Tinkercad, Scratch, 
            Micro:bit og meget andet!
        </p>
        <p>CoSpaces forløbet kan du finde under "Til Eleven" --> "Mellemtrin" --> "Grønt Forløb" --> "Dag 1 & 2"</p>
        <br>
        <p>Rigtig god fornøjelse!</p>
    </div>

    <div class="col-4">
        <div class="card">
            <img class="image" src="/Images/SkolenoerdenAnbefaler/Teksperimentet.png" />
            <a class="stretched-link" href="https://teksperimentet.firebaseapp.com/" />
        </div>
    </div>
</div>
@code {

}
