@page "/SkolenoerdenAnbefaler/Blooket"


<PageTitle>Skolenørden anbefaler Blooket</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Skolenørden Anbefaler</h2>
</section>

<div class="article">
    <h2 class="article-title">Blooket</h2>
    <div class="article-text">
        <div class="article-image">
            <a href="https://www.blooket.com/"><img class="image" src="/Images/SkolenoerdenAnbefaler/Blooket.png" /></a>
        </div>
        <p>
            Blooket er en side jeg selv blev introduceret til for nyligt af en elev, der selv spillede det.
        </p>
        <br/>
        <p>
            Blooket tager udgangspunkt i setuppet fra Kahoot med, at man kan lave og finde andres quizzer.
            Til forskel fra Kahoot har Blooket kombineret quizzerne med mainstream spil på en måde, der gør det
            endnu vigtigere at svare rigtigt på så mange spørgsmål som muligt! Jo flere rigtige - Jo flere fordele
            får du på din quest igennem spillet!
        </p>
        <br>
        <p>
            Som registreret bruger kan du oprette spil, som elever kan tilslutte sig (uden at registrere sig).
            Altså ligesom du kan på Kahoot.
        </p>
        <br>
        <p><b>Mine Blooket Quizzer:</b></p>
        <p>1. <a href="https://dashboard.blooket.com/set/6662c6a8e92bbd481c13b360">Øv tabeller (1-10)</a></p>
    </div>
</div>


@code {

}
