@page "/SkolenoerdenAnbefaler/Blooket"


<PageTitle>Skolenørden anbefaler Blooket</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 class="page-title">Skolenørden anbefaler Blooket</h1>
    </div>
</div>

<br>
<br>
<br>

<div class="row">
    <div class="col-2" />

    <div class="col-6">
        <p>Blooket er en side jeg selv blev introduceret til for nyligt af en elev, der selv spillede det.</p>
        <p>Blooket tager udgangspunkt i setuppet fra Kahoot med, at man kan lave og finde andres quizzer. 
           Til forskel fra Kahoot har Blooket kombineret quizzerne med mainstream spil på en måde, der gør det 
           endnu vigtigere at svare rigtigt på så mange spørgsmål som muligt! Jo flere rigtige - Jo flere fordele 
           får du på din quest igennem spillet!</p>
        <br>
        <p>Nu til den lidt kedelige del. Blooket kræver, at man registrere en google-account eller en emailaddresse, 
           hvilket mange bekendt giver problemer i en skolekontekst. Man skal også være 13 år eller derover for at bruge 
           Blooket, muligvis fordi siden har et element af gacha-køb, hvor man kan købe loot-boxes og få forskellige figurer. 
           Dette er dog kun med in-game currency! Jeg har ikke kunnet finde steder på siden, hvor man skal have dankortet op af lommen!
        </p>
        <br>
        <p>Er du i en kontekst, hvor ovenstående ikke giver problemer, så kan jeg fortælle, at Blooket er meget underholdende 
            og rent fagligt bruger de samme elementer som Kahoot.</p>
        <br>
        <p><b>Mine Blooket Quizzer:</b></p>
        <p>1. <a href="https://dashboard.blooket.com/set/6662c6a8e92bbd481c13b360">Øv tabeller (1-10)</a></p>
    </div>

    <div class="col-4">
        <div class="card">
            <img class="image" src="/Images/SkolenoerdenAnbefaler/Blooket.png" />
            <a class="stretched-link" href="https://www.blooket.com/" />
        </div>
    </div>
</div>

@code {

}
