@page "/SkolenoerdenAnbefaler/Teksperimentet"


<PageTitle>Skolenørden anbefaler Teksperimentet</PageTitle>

<section class="padding-block-100">
    <h2 class="page-title">Skolenørden Anbefaler</h2>
</section>

<div class="article">
    <h2 class="article-title">Teksperimentet</h2>
    <div class="article-text">
        <div class="article-image">
            <a href="https://teksperimentet.firebaseapp.com/"><img class="image" src="/Images/SkolenoerdenAnbefaler/Teksperimentet.png" /></a>
        </div>
        <p>
            Jeg har efterhånden introduceret en del elever fra 4. klasse og op til 7. i CoSpaces på SkoleTube.
            Jeg har hver gang benyttet mig af Teksperimentets videoforløb, der giver glimrende forklaringer til de mange
            spændende elementer i CoSpaces!
        </p>
        <br />
        <p>
            Når jeg bliver spurgt ind til undervisning i programmering, så vil kombinationen
            af CoSpaces og Teksperimentet altid være mit go-to.
        </p>
        <br/>
        <p>
            Teksperimentet har udover forløb i CoSpaces også en række andre videoforløb, bl.a. i MineCraft, Tinkercad, Scratch,
            Micro:bit og meget andet!
        </p>
        <br/>
        <p>
            CoSpaces forløbet kan du finde under "Til Eleven" --> "Mellemtrin" --> "Grønt Forløb" --> "Dag 1 & 2"
        </p>
        <br>
        <p>Rigtig god fornøjelse!</p>
    </div>
</div>


@code {

}
