<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SkattejagtGeneratorWebApp.styles.css" />
    <link rel="icon" type="image/svg" href="/Images/FavIcon.svg" />
    <HeadOutlet />
</head>

<body>
    <script src="_framework/blazor.web.js"></script>
    <script>
	function saveByteArray(fileName, byte) {
		var blob = new Blob([byte], { type: "application/pdf" });
		var link = document.createElement('a');
		link.href = window.URL.createObjectURL(blob);
		var tempName = fileName;
		link.download = tempName;
		link.click();
	}
    </script>
    <script>
    window.triggerFileDownload = (fileName, url) => {
        const anchorElement = document.createElement('a');
        anchorElement.href = url;
        anchorElement.download = fileName ?? '';
        anchorElement.click();
        anchorElement.remove();
    }
    </script>
</body>

</html>
