@page "/"

<PageTitle>Forside</PageTitle>

<br><br><br>

<div class="row">
    <div class="col-12">
        <h1 class="page-title">Velkommen til Skolenørden!</h1>
    </div>
</div>

<br>

<div class="row">

    <div class="col-md-3 col-6 py-3">
        <div class="card">
            <img class="card-img-top" src="/Images/Forside/Newspaper.png"/>
            <div class="card-body">
                <h3 class="card-title">Nyheder</h3>
                <p class="card-text">De seneste opdateringer på Skolenørden.dk!</p>
                <a href="/Nyheder" class="stretched-link"/>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-6 py-3">
        <div class="card">
            <img class="card-img-top" src="/Images/Forside/Skattejagt.png" />
            <div class="card-body">
                <h3 class="card-title">Skattejagt</h3>
                <p class="card-text">Lav din egen skattejagt! Fra 0. til 6. klasses niveau!</p>
                <a href="/Skattejagt" class="stretched-link" />
            </div>
        </div>
    </div

    <div class="col-md-3 col-6 py-3">
        <div class="card">
            <img class="card-img-top" src="/Images/Forside/EscapeRoomSpil.png" />
            <div class="card-body">
                <h3 class="card-title">Sortskægs Dagbog</h3>
                <p class="card-text">Prøv et escape room i papirform! Anbefalet fra 6. klasse og opefter</p>
                <a href="/Aktiviteter/EscapeRoomSpil" class="stretched-link" />
            </div>
        </div>
    </div>

    <div class="col-md-3 col-6 py-3">
        <div class="card">
            <img class="card-img-top" src="/Images/Forside/100Gangestykker.png" />
            <div class="card-body">
                <h3 class="card-title">100 Gangestykker</h3>
                <p class="card-text">Sjov aktivitet til tabeltræning!</p>
                <a href="/Aktiviteter/100Gangestykker" class="stretched-link" />
            </div>
        </div>
    </div>

    <div class="col-md-3 col-6 py-3">
        <div class="card">
            <img class="card-img-top" src="/Images/Forside/ThumbsUp.png" />
            <div class="card-body">
                <h3 class="card-title">Skolenørden Anbefaler</h3>
                <p class="card-text">Find links til eksterne sider med et par kommentarer fra Skolenørden</p>
                <a href="/SkolenoerdenAnbefaler" class="stretched-link" />
            </div>
        </div>
    </div>

</div>


