@page "/Kontakt"

<PageTitle>Kontakt</PageTitle>

<h1 style="text-align:center">Kontakt Skolenørden</h1>

<br><br><br>

<p>Navn: Mathias Nielsen</p>

<br>

<p>Email: mathias252220@gmail.com</p>

@code {

}
