@page "/Nyheder"

<PageTitle>Nyheder</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 class="page-title">Nyheder</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-12">
        <div class="row">

            <div class="col-md-3 col-4">
                <div class="card"
                    <div class="overlay-text card-date">1. juni 2024</div>
                    <img class="card-img-top" src="/Images/Forside/Skattejagt.png" />
                    <div class="card-body">
                        <h3 class="card-title">Skattejagten!</h3>
                        <p class="card-text">Lav din egen skattejagt med eleverne!</p>
                        <a href="/Nyheder/Skattejagten" class="stretched-link"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-4">
                <div class="card"
                    <div class="overlay-text card-date">1. juni 2024</div>
                    <img class="card-img-top" src="/Images/Nyheder/Balloner.png" />
                    <div class="card-body">
                        <h3 class="card-title">Skolenørden Online!</h3>
                        <p class="card-text">Skolenørden.dk er nu åben for brugere! Velkommen til!</p>
                        <a href="/Nyheder/SkolenoerdenOnline" class="stretched-link"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-4">

            </div>
        </div>
    </div>
</div>

@code {

}
