@page "/Nyheder"

<PageTitle>Nyheder</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 style="text-align:center">Nyheder</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-1" />

            <div class="col-2">
                <div class="card"
                    <img class="card-img-top" src="/Images/Forside/Skattejagt.png" />
                    <div class="card-body">
                        <h3 class="card-title">Skattejagten!</h3>
                        <p class="card-text" style="font-size:18px">Lav din egen skattejagt med eleverne!</p>
                        <a href="/Nyheder/Skattejagten" class="stretched-link"/>
                        <p style="font-size:15px; text-align:right">1. juni 2024</p>
                    </div>
                </div>
            </div>

            <div class="col-1" />

            <div class="col-2">
                <div class="card"
                    <img class="card-img-top" src="/Images/Nyheder/Balloner.png" />
                    <div class="card-body">
                        <h3 class="card-title">Skolenørden Online!</h3>
                        <p class="card-text" style="font-size:18px">Skolenørden.dk er nu åben for brugere! Velkommen til!</p>
                        <a href="/Nyheder/SkolenoerdenOnline" class="stretched-link"/>
                        <p style="font-size:15px; text-align:right">1. juni 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
            </div>

            <div class="col-1" />
            <div class="col-1" />

            <div class="col-2" />
        </div>
    </div>
</div>

@code {

}
