@page "/OmSkolenoerden"


<PageTitle>Om Skolenørden</PageTitle>

<br><br><br>

<div class="row">
    <div class="col-12">
        <h1 style="text-align:center">Om Skolenørden</h1>
    </div>
</div>

<br><br><br>

<div class="row">
    <div class="col-2"/>

    <div class="col-6">
        <p>Mit navn er Mathias, jeg er tidligere lærer i folkeskolen og jeg står bag Skolenørden!</p>
        <p>Efter et par år i folkeskolen fandt jeg ud af, at det med at stå ude i klasselokalerne med en fast klasse ikke var noget, som jeg fungerede særligt godt i.</p>
        <p>Nu arbejder jeg i stedet på at lære at programmere og designe forskellige typer software. Og hvad bedre måde at gøre det på, end at lave lærermaterialer, som kan bruges af andre!</p>
        <br>
        <p>Skolenørden er min platform, hvor jeg kan afprøve en masse forskelligt! Du er velkommen til at bruge materialerne herinde, som du har lyst!</p>
        <br>
        <p>Rigtig god fornøjelse!</p>
    </div>

    <div class="col-4">
        <img src="/Images/Skolenoerden.jpg" width="500" />
    </div>
</div>


@code {

}
