@page "/SkolenoerdenAnbefaler"

<PageTitle>Skolenørden anbefaler</PageTitle>

<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <h1 style="text-align:center">Skolenørden Anbefaler</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-md-1 col-1" />

            <div class="col-md-2 col-4">
                <div class="card"
                    <img class="card-img-top" src="/Images/SkolenoerdenAnbefaler/Teksperimentet.png" />
                    <div class="card-body">
                        <h3 class="card-title">Teksperimentet</h3>
                        <p class="card-text">Lær dine elever at programmere og modellere in-game!
                            Selvkørende videoforløb medfølger!</p>
                        <a href="/SkolenoerdenAnbefaler/Teksperimentet" class="stretched-link"/>
                        <p class="card-date">4. juni 2024</p>
                    </div>
                </div>
            </div>

            <div class="col-md-1 col-2" />

            <div class="col-md-2 col-4">
                <div class="card"
                    <img class="card-img-top" src="/Images/SkolenoerdenAnbefaler/Blooket.png" />
                    <div class="card-body">
                        <h3 class="card-title">Blooket</h3>
                        <p class="card-text">Kahoot og spil i et!</p>
                        <a href="/SkolenoerdenAnbefaler/Blooket" class="stretched-link"/>
                        <p class="card-date">4. juni 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-1">
            </div>

            <div class="col-md-2" />
            <div class="col-md-1" />

            <div class="col-md-2" />
        </div>
    </div>
</div>

@code {

}
